<form action="/search" method="get">
  <div class="field">
    <%= label_tag :search %><br />
    <%= text_field_tag :search %>
  </div>
  
  <%=submit_tag "Find" %>
</form>

<hr>

<% if @results %>
<% @results.results.each do |res| %>  
  <div>
    <p><b><%=res.id%> : <%=res.name%></b></p>
    <p><%=res.primaryAddress.addressLine%><br/><%=res.primaryAddress.suburb%>, <%=res.primaryAddress.state%> <%=res.primaryAddress.postcode%></p>
    <p><%=res.categories.to_yaml%></p>
  </div>
<% end %>
<% end %>