<h3>Search for (e.g. taco, cheap dinner, Max's)</h3>
<form action="/" method="get">
  <div class="clearfix">
    <div class="input">
      <%= text_field_tag :search, nil, :class => "xlarge" %>
    <input type="submit" class="btn" value="Find">
    </div>
  </div><!-- /clearfix -->
</form>

<% if @results %>
  <% @results.results.each do |res| %>  
    <p>RID <%=res["id"]%></p>
    <% if @ratings[res["id"]].nil? %>
      <p>nil</p>
    <% else %>
      <%=form_for(@ratings[res["id"]]) do |f| %>
        <%=hidden_field_tag :rating_id, @ratings[res["id"]].id %>
        <%=hidden_field_tag :search_term, params[:search] %>
        <%=hidden_field_tag :sensis_id, res["id"] %>
        <div>
          <p><b><%=res["id"]%> : <%=res.name%></b></p>
          <p><%=res.primaryAddress.addressLine%><br/><%=res.primaryAddress.suburb%>, <%=res.primaryAddress.state%> <%=res.primaryAddress.postcode%></p>
          <p><%=res.categories.to_yaml%></p>
          <p>Your Rating: 
            <select name="rating" class="new_rating">
              <option value="1">Did not like</option>
              <option value="2">Ok</option>
              <option value="3" selected="selected">Liked</option>
              <option value="4">Loved!</option>
              <option value="5">Loved alot!</option>
            </select><br/>
            <%= submit_tag "Rate It" %>
          </p>
          <%
          @ratings[res["id"]].number_of_ratings ||= 1
          @ratings[res["id"]].number_of_ratings = 1 if @ratings[res["id"]].number_of_ratings <= 0
          %>
          <p>AVG RATING: <%=@ratings[res["id"]].rating.to_f / @ratings[res["id"]].number_of_ratings.to_f %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(".new_rating").rating({showCancel: false}).bind("change", function(){
    console.log('hello');
  });
</script>
